.line {
  text-align: center;
  font-size: 30px;
  font-weight: bold;

}
#about {
  position: relative;
  left: 15%;
  margin-top: 15%;
  width: 60%;
  height: 60%;
  font-family: cursive;
  float: left;
}