main nav {
  position: fixed;
  left:5%;
  top: 20%;
}
main nav a {
  display: inline;
  font-size: 30px;
  text-decoration: underline;
}

.line {
  text-align: center;
}
.blogpic {
  width: 800px;
  height: 600px;
}
}
#blog-title {
  font-size: 30px;
  font-weight: bold;
}
#date {
  font-weight: bold;
}
#blog {
  position: relative;
  left: 20%;
  margin-top: 2%;
  width: 800px;
  height: 800px;
  font-family: cursive;
