main nav {
  position: fixed;
  left:1%;
  top: 20%;
  float: left;
  width: 5%;
}
main nav a {
  display: inline;
  font-size: 1.5em;
  text-decoration: underline;
}

.line {
  text-align: center;
  font-weight: bold;
}
.blogpic {
  width: 50%;
  height: 50%;
}
}
.blogtitle {
  font-size: 2em;
}

#blog {
  position: fixed;
  margin-top: 2%;
  margin-left: 5%;
  width: 50%;
  height: 50%;
  font-family: cursive;
