main nav {
  position: fixed;
  left:1%;
  top: 20%;
  float: left;
}
main nav a {
  display: inline;
  font-size: 30px;
  text-decoration: underline;
}

.line {
  text-align: center;
  font-weight: bold;
}
.blogpic {
  width: 900px;
  height: 800px;
}
}
.blogtitle {
  font-size: 30px;
}

#blog {
  float: left;
  position: relative;
  margin-top: 2%;
  width: 50%;
  height: 50%;
  font-family: cursive;
