#body {
  position: relative;
  left: 2%;
  margin-top: 4%;
  width: 1100px;
  height: 900px;
  font-family: cursive;
  border-style: solid;
  background: black;
}

#title {
  text-align: center;
  border-bottom-style: solid;
  height: 10%;
  font-size: 50px;
  background: white;
}
#left {
  clear: top;
  float: left;
  border-right-style: solid;
  width: 47%;
  height: 90%;
}

#right {
  float: right;
  border-left-style: solid;
  width: 47%;
  height: 90%;
}

#body header {
  font-size: 30px;
  border-bottom-style: solid;
  background-color: #E5E4E2;
}

#body article {
  background-color: white;
  text-decoration: underline;
  font-weight: bold;
}


#body code {
  background-color: #E5E4E2;
  width: 100%;
  text-decoration: none;
  font-weight: normal;
}