#body {
  position: relative;
  left: 2%;
  margin-top: 4%;
  width: 60%;
  height: 60%;
  font-family: cursive;
  border-style: solid;
  background: black;
}

#title {
  text-align: center;
  border-bottom-style: solid;
  height: 10%;
  font-size: 3em;
  background: white;
}
#left {
  clear: top;
  float: left;
  border-right-style: solid;
  width: 49%;
  height: 90%;
}

#right {
  float: right;
  border-left-style: solid;
  width: 49%;
  height: 90%;
}

#body header {
  font-size: 2em;
  border-bottom-style: solid;
  background-color: #E5E4E2;
}

#body article {
  background-color: white;
  font-weight: bold;
}


#body article code {
  background-color: #E5E4E2;
  font-weight: normal;
}